
.signup_modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.signup-modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 25%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.signup_input
{
    width: 95%;   
    background-color: gainsboro;
    color: black;
    height: 35px;
    border: none;
    margin-left: 4px;
    padding-left: 5px;
    margin-right: 25px;
}
.signup_btn
{
    width: 97%;
    height: 35px;
    margin-top: 15px;
        margin-left: 4px;
    margin-right: 25px;
    padding-bottom: 27px;
}
.signin_modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.signin-modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 25%; 
}
.signin_input
{
    width: 95%;   
    background-color: gainsboro;
    color: black;
    height: 35px;
    border: none;
    margin-left: 4px;
    padding-left: 5px;
    margin-right: 25px;
}
.signin_btn
{
    width: 97%;
    height: 35px;
    margin-top: 15px;
        margin-left: 4px;
    margin-right: 25px;
    padding-bottom: 27px;
}
#div_signup
{
    text-align: center;
}

.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-wrap: break-word;

}
.blogAuthor {
    padding: 0px 0px 0px 2px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
padding: 0px 70px;
}
#blogBody {
        text-align: justify;
    font-family:serif;
    margin-top: 10px;
}
#like {
    background-color: #ef3b65;
    padding: 10px 35px;
    color: white;
    box-shadow:0px 3px 3px 1px #f7a1b5;
    border-radius: 3px;
    border: 0px;
    margin-top: 15px;
    width: 110px;
}
#editing {
    background-color: #ef3b65;
    float: right;
    font-size: 20px;
    padding: 4px;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 3px 3px 1px #f7a1b5;
    border: 0px;
    width: 89px;
    margin-bottom: 03px;
}
#comment {
      background-color: #ef3b65;
    padding: 10px 30px;
    color: white;
    box-shadow:0px 3px 3px 1px #f7a1b5;
    border-radius: 3px;
    border: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 120px;
}
#jimmi {
    display: inline;
}
#txtarea {
    width:60%;
    margin-top: 20px;
}
#allcomments {
    font-weight: 700;
    font-size: 19px;
    margin-top: 40px;
}
#listcomments {
 background-color: #e2e4e6;
}
.cmntdiv {
    padding: 20px 10px;
    background-color: white;
    margin-top: 15px;
}
.editcmnt1 {
    width: 100%;
    resize: none;
    overflow: hidden;
}
.editcmnt2 {
    width: 30%;
    text-align: center;
    border: 1px solid  #ef3b65;
    resize: none;
}

#liketxt {
    margin-top: 10px;
}





#ntmmbr {
    margin: 0px;
}
label {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
}
.h5,h5 {
   font-family: 'Abel' !important;
    font-style: normal;
    font-weight: 1000 !important;
    font-size: 27px !important;
}
#bot {
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
}
.modal-header {
        border-bottom: 3px solid #d2d2d2 !important;
        margin: 0px 15px;
}
.modal-title{
    text-align: center;
    width: 100%;
}
.inbtn {
    width: 100%;
    padding: 5px;
    margin-top: 12px;
}
.modal-dialog {
    top: 10%;
}

